html { margin:0; padding:0;}
body {margin:0; padding:0; font-size:62.5%; font-family:"colaborate-regularregular"; background:#fff url(../images/fondoOscuro.png) repeat 0 0}

h1 { font-size:3em; padding:0.5em; margin:0; color:#333; font-weight:normal;}
h2 { font-size:2.4em; padding:1em 0; color:#4e4e4e; font-weight:normal; margin:0;}

#wrapper { width:98em; margin:0 auto; background:#fff url(../images/fondoClaro.png) repeat 0 0}
#header { margin:1em 0; width:100%;} 

#contenedorCubo { width:59em; min-height:70em; padding:3em 0; position:relative; margin:0 auto; -webkit-perspective: 4000px;}
#cubo {float:left;width:59em; height:60em; -webkit-transform-style: preserve-3d;-webkit-transform: transform .8s; -webkit-transition: all .8s;}
#contenedorCubo nav#opcionesCubo { width:59em; height:60em; position:absolute; top:0; -webkit-transform: translateZ(30em); -webkit-transition: all .8s;}
#contenedorCubo nav#opcionesCubo ul,  #seccionResponsivo ul{ margin:0; padding:0; list-style:none; width:59em;}
#contenedorCubo nav#opcionesCubo ul li, #seccionResponsivo ul li { display:inline; display:inline-block; width:18em; height:18em; margin:0 2em 2em 0; padding:0; background:#666 url(../images/fondoOpcion.png) repeat 0 0; border-radius:1em;
							-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;}

#contenedorCubo nav#opcionesCubo ul li:hover {transform: scale(1.1,1.1);-ms-transform: scale(1.1,1.1); -webkit-transform: scale(1.1,1.1); opacity:0.8; filter:alpha(opacity=80)}							
#contenedorCubo nav#opcionesCubo ul li.finfila, #seccionResponsivo ul li.finfila { margin-right:0;}
#contenedorCubo nav#opcionesCubo ul li a {display:block; text-align:center; width:18em; height:4em; padding:14em 0 0 0; color:#fff; text-decoration:none; }
#contenedorCubo nav#opcionesCubo ul li a span { font-size:1.8em; text-shadow: 1px 1px 1px #444;}
#contenedorCubo nav#opcionesCubo ul li#tipografias a { background:url(../images/tipografias.png) center 1.3em no-repeat;}
#contenedorCubo nav#opcionesCubo ul li#videos a{ background:url(../images/videos.png) center 1.3em no-repeat;}
#contenedorCubo nav#opcionesCubo ul li#html5 a{ background:url(../images/html5.png) center 1.3em no-repeat;}
#contenedorCubo nav#opcionesCubo ul li#canvas a{ background:url(../images/canvas.png) center 1.3em no-repeat;}
#contenedorCubo nav#opcionesCubo ul li#js a{ background:url(../images/javascript.png) center 1.3em no-repeat;}
#contenedorCubo nav#opcionesCubo ul li#semantica a{ background:url(../images/semantica.png) center 1.3em no-repeat;}
#contenedorCubo nav#opcionesCubo ul li#geolocalizacion a{ background:url(../images/geolocalizacion.png) center 1.3em no-repeat;}
#contenedorCubo nav#opcionesCubo ul li#sesiones a{ background:url(../images/sesiones.png) center 1.3em no-repeat;}
#contenedorCubo nav#opcionesCubo ul li#responsivo a { background:url(../images/responsivo.png) center 1.3em no-repeat;}


/*****tipografias******/
#seccionTipografias, .seccion {display:none; position:absolute; top:0; width:59em; height:60em; }
.seccionIzq {-webkit-transform: rotateY(90deg) translateZ(30em);-webkit-transition: all .8s;}
.seccionDcha {-webkit-transform: rotateY(-90deg) translateZ(30em);-webkit-transition: all .8s;}
.seccionAbajo {-webkit-transform: rotateX(90deg) translateZ(30em);-webkit-transition: all .8s;}
.seccionArriba {-webkit-transform: rotateX(-90deg) translateZ(30em);-webkit-transition: all .8s;}
#seccionTipografias p, .seccion p { font-size:2em; font-weight:normal; padding:0 0 0 3em;}

p.tipografia1 {font-family:'alex_brushregular'}
p.tipografia2 {font-family:'chunkfiveroman'}
p.tipografia3 {font-family:'exoblack'}

#cubo.hoverIzq { -webkit-transform: translateZ(-30em) rotateY(-95deg); -webkit-transition: all .8s;}
#cubo.hoverAbajo { -webkit-transform: translateZ(-30em) rotateX(-95deg); -webkit-transition: all .8s;}
#cubo.hoverDcha { -webkit-transform: translateZ(-30em) rotateY(95deg); -webkit-transition: all .8s;}
#cubo.hoverArriba { -webkit-transform: translateZ(-30em) rotateX(95deg); -webkit-transition: all .8s;}


/*****geolocalizacion****/
#geo{ background:#336699 url(../images/botonGeo.png) 10px center no-repeat; boder:0; border-radius:8px; font-size:1.5em; color:#fff; margin:-1em 0 1em 0; padding:1em 1em 1em 2.5em;}
#geo:hover {opacity:0.8; filter:alpha(opacity=80); cursor:pointer;}


/******d&d*****/
#monedas img { margin:2em;}
#hucha { width:295px; height:241px; display:block; margin:0 auto; background:url(../images/hucha.jpg) 0 0 no-repeat; margin-top:2em; }


/*****estilos varios****/
p.volver { text-align:right; margin-top:2em;}
p.volver a , p a{ color:#336699; text-decoration:underline;}
p.volver a:hover, p a:hover {text-decoration:none;}
#seccionResponsivo, #seccionSemantica { margin-top:-5em;}
#seccionSemantica {height:77em;}


.destacado {color:#336699;}
.tac {text-align:center}
.codigo { width:40em; height:10em; margin-left:5em;}
.resaltar {opacity:0.8; filter:alpha(opacity=80); border:1px solid orange; border-radius:50px;}

/*****javascript galleria*****/
#galleria{height:320px}

/********responsivo**********/
@media all and (min-width: 0px) and (max-width: 980px) {
	#wrapper {width:100%}
}

@media all and (min-width: 0px) and (max-width: 660px) {
	#wrapper, #contenedorCubo, #cubo, #seccionResponsivo ul, .seccion  {width:100%;}
	#seccionResponsivo {margin-top:0;}
	#seccionResponsivo ul li { margin-right:2% !important; width:28%; height:15em;}
	#seccionResponsivo h2 {display:none;}	
	p.volver {text-align:left;}
}

@media all and (min-width: 0px) and (max-width: 560px) {
	#seccionResponsivo ul li {height:12.5em;}
}

@media all and (min-width: 0px) and (max-width: 460px) {
	#seccionResponsivo ul li {height:10em;}
}

@media all and (min-width: 0px) and (max-width: 360px) {
	#seccionResponsivo ul li {height:7.5em;}
}

@media all and (min-width: 0px) and (max-width: 260px) {
	#seccionResponsivo ul li { width:85%; }
	#contenedorCubo {height:92em;}
}